* {
    box-sizing:border-box;
}

@font-face {
    font-family: 'beauregular';
    src: url('beauregular-0nlo-webfont.woff2') format('woff2'),
         url('beauregular-0nlo-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'aella_freeregular';
    src: url('aella_free-webfont.woff2') format('woff2'),
         url('aella_free-webfont.woff') format('woff');
    font-weight: normal; 
    font-style: normal;
}

root {
    --color1: #6a5b9a; /*dark*/
    --color2: #e6e9f4; /*light*/
    --color3: #edf5d9; /*greenaccent*/
    --color4: #f4f4f4; /*grey-white*/
}

body {
    background-color:#e7e9f5;
    height:100vh;
    overflow:hidden;
    margin:0px;
}

header{
    display:flex;
    width:100%;
    height:10%;
    justify-content:center;
    align-content: center;
}

header > h1 {
    margin-left:15%;
    position:relative;
    font-family: 'aella_freeregular';
    font-size:10vw;
    font-weight: lighter;
    margin-top:0%;
    color:#6a5b9a;
}

.ligne1, .ligne2 {
    position:absolute;
    border: 3px solid #6a5b9a;
    height: 9px;
    background-color:#b7edc9;
    margin-top:-5%;
}

.ligne1 {
    width: 60%;
    left:15%;
}

.ligne2 {
    width: 20%;
    left:85%;
}

main {
    width:100%;
    height:85%;
    display:flex;
    justify-content: center;
    align-items: center;
}

.triangle {
    position:absolute;
    left:0;
    top:0;
    clip-path: polygon(40% 0, 60% 50%, 40% 100%, 0 100%, 0 0);
    background-color:#6a5b9a;
    width: 50vw;
    height: 100vh;
    z-index:-1;
}

article {
    width:50%;
    height:60%;
    border: 5px solid #6a5b9a;
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items:center;
    position:relative;
    margin-left:15%;
    font-family: 'beauregular';
    color:#2a2a2a;
}

article > h2 {
    font-size:3vw;
}

article > ul {
    font-size: 2vw;
    margin-top:-5%;
    margin-left:10%;
}

figure {
    position:absolute;
    width:15vw;
    height:15vw;
    border: 5px solid #6a5b9a;
    border-radius:50%;
    background-color:#b7edc9;
    top: 10%;
    left:-20%;
    margin:0;
    display:flex;
    justify-content: center;
    align-items: center;
}

figure > img {
    height:90%;
    width:90%;
    border-radius:50%;
    background-color:aliceblue;
}

footer{
    width:60%;
    height:5%;
    display:flex;
    align-items: center;
    justify-content:space-between;
    margin-left:25%;
}

#socials {
    display:flex;
    justify-content:space-around;
    align-content:center;
}

footer > p {
    background-color:#6a5b9a;
    margin:0px;
    margin-bottom:5%;
    padding:15px;
    height:5.2vh;
    display:flex;
    align-items: center;
    color:#e6e9f4;
}

footer > p > img {
    width:4vw;
    height:4vh;
    filter: invert(99%) sepia(76%) saturate(4897%) hue-rotate(180deg) brightness(111%) contrast(92%);
}